*{
  margin: 0;
  padding: 0;
  font-family: "consolas";
  text-decoration: none;
}

.full-screen{
  width: 75%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content a{
  display: block;
  margin: 2px auto;
  width: 250px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: lowercase;
  font-weight: 500;
  transition: .4s linear;
}

.content b{
  font-family: "consolas";
  display: block;
  margin: 2px auto;
  width: 250px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: lowercase;
  font-weight: 500;
  transition: .4s linear;
}

.content c{
  display: block;
  margin: 2px auto;
  width: 250px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: lowercase;
  font-weight: 500;
  transition: .4s linear;
}

.content a:hover{
  background: #1d0f33;
}

.content b:hover{
  background: #1d0f33;
}

.content c:hover{
  background: #1d0f33;
}
